@using StockTrade.Application.Interfaces.API;
@using StockTrade.Application.ViewModel.API.Screener.PopularWatchlistDetail;
@using System.Collections;

@model Result

@{
}

@if (Model == null)
{
    <p> 　 </p>
}
else
{
    <div tabindex="0" class="e-card" id="basic">
        <h3> watch Details </h3>
        @foreach (var item in Model.portfolios)
        {
            @foreach (var pf in item.positions)
            {
                <div class="e-card-header-title"> @pf.symbol </div>

                @foreach (var result in @pf.lots)
                {
                    <div class="e-card-content">
                        <h6> TradeDate </h6> <p> : @result.tradeDate.ToString() </p>
                        <br />
                        <h6> PurchasePrice </h6>  <p> : @result.purchasePrice.ToString()</p>
                        <br />
                        <h6> Quantity </h6> <p>  : @result.quantity.ToString() </p>
                        <br />
                    </div>
                }
            }
        }
    </div>
}

