@using StockTrade.Application.ViewModel.API.ScreenerViewModel.Performance;
@model Performance

@{
    
}


@if( Model == null ) 
{
    <p> Please Select One Symbol </p>
}
else
{
    <h3> Performance </h3>
    var result = Model.finance.result;
    var pf = result[0].portfolio;
    var symbols = result[0].symbols.UPS;

    <p class="pHeader"> OneDayPercentChange: @pf.oneDayPercentChange.ToString() </p>
    <br />
    <p class="pHeader"> OneMonthPercentChange: @pf.oneMonthPercentChange.ToString() </p>
    <br />
    <p class="pHeader"> OneYearPercentChange: @pf.oneYearPercentChange.ToString() </p>
    <br />
    <p class="pHeader"> LifetimePercentChange : @pf.lifetimePercentChange.ToString() </p>
    <br />
    <p> class="pHeader" OriginTimestamp : @pf.originTimestamp.ToString() </p>
    <br />
    <p class="pHeader"> UpdatedAt:  @pf.updatedAt.ToString() </p>
    <br />
    <br />

    <h5> Symbols </h5>
    <p class="pHeader"> OneDayPercentChange    -  </p> <p>  @symbols.oneDayPercentChange.ToString() </p>
    <p class="pHeader"> OneMonthPercentChange  -  </p> <p>  @symbols.oneMonthPercentChange.ToString() </p>
    <p class="pHeader"> OneYearPercentChange   -  </p> <p>  @symbols.oneYearPercentChange.ToString() </p>
    <p class="pHeader"> LifetimePercentChange  -  </p> <p>  @symbols.lifetimePercentChange.ToString() </p>
    <p class="pHeader"> OriginTimestamp        -  </p> <p>  @symbols.originTimestamp.ToString() </p>
    <p class="pHeader"> UpdatedAt              -  </p> <p>  @symbols.updatedAt.ToString() </p>

}

<style>
    .pHeader {
        color:black;
        font-size: 15px;
        margin-left: 3px;
    }
</style>