@using StockProject.Application.ViewModel.API.StocksViewModel.CompanyBrief;

@model CompanyBrief
@{
    
}

<!-- 모델이 Null이 아니라면 정보 출력 -->
@if( Model != null ) 
{
    <div class="position-absolute top-0 end-0">
        <div id="sidebar-wrapper">
            <ul>
                <li>
                    <div class="card text-center">
                        <div class="card">
                            <p> @Model.symbol.ToString() </p>
                            <p> Pre: @Model.financialData.currentPrice.fmt.ToString() </p>
                            @Model.symbol &nbsp; <p> NASDAQ </p>
                            @Model.quoteType.shortName.ToString()
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div style="height:10px;">
                            <p> Key Statistics </p>
                        </div>
                        <div class="card-body key-Stat">
                            <p> Open : @Model.summaryDetail.open.fmt </p>
                            <p> High : @Model.summaryDetail.dayHigh.fmt.ToString() </p>
                            <p> Volume : @Model.summaryDetail.regularMarketVolume.fmt.ToString() </p>
                            <p> Avg Vol(3M) : @Model.price.averageDailyVolume3Month.fmt.ToString() </p>
                            <p> PrevClose : @Model.summaryDetail.previousClose.fmt.ToString() </p>
                            <p> Low : @Model.summaryDetail.dayLow.fmt </p>
                            <p> Div Yield : Div Yield </p>
                            <p> Ex-Div Date : Ex-DivDate </p>
                            <p> 52 Wk High : @Model.summaryDetail.fiftyTwoWeekHigh.fmt.ToString() </p>
                            <p> 52 Wk Low : @Model.summaryDetail.fiftyTwoWeekLow.fmt.ToString() </p>
                            <p> MarketCap : @Model.price.marketCap.fmt.ToString() </p>
                            <p> Dividend : Dividend </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card text-center">
                        <div style="height:10px;">
                            <p> Quick Chart </p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </li>                
            </ul>
        </div>
    </div>
}
else
{
    <div class="position-absolute top-0 end-0">
        <div id="sidebar-wrapper">
            <ul>
                <li>
                    <div class="card text-center">
                        <div style="height:10px;">
                            <p> Position </p> <p> Orders </p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card text-center">
                        <div class="card">
                            <p> You haven't selected any symbol </p>
                           
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div style="height:10px;">
                            <p> Key Statistics </p>
                        </div>
                        <div class="card-body key-Stat">
                            <p> Open </p>
                            <p> High </p>
                            <p> Volume </p>
                            <p> Avg Vol(3 </p>
                            <p> PrevClose </p>
                            <p> Low </p>
                            <p> Div Yield </p>
                            <p> Ex-Div Date </p>
                            <p> 52 Wk High </p>
                            <p> 52 Wk Low </p>
                            <p> MarketCap </p>
                            <p> Dividend </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card text-center">
                        <div style="height:10px;">
                            <p> Quick Chart </p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="card text-center">
                        <div style="height:10px;">
                            <p> Time & Sales </p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card text-center">
                        <div style="height:10px;">
                            <p> Quick Chart </p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
}


<style>

    #wrapper-for-right {
        padding-right: 250px;
    }

    #sidebar-wrapper {
        width: 370px;
    }

    ul {
        list-style-type: none;
    }

    .key-Stat{
        font-size: smaller;
        margin: 0 !important;
        text-align:left;
    }

    .key-Stat p{
        margin-top: 5px;
        font-size: smaller;
    }


</style>