@page
@using StockProject.Application.ViewModel.API.StocksViewModel.CompanyBrief;
@using StockProject.Infrastructure.Shared;
@using StockTrade.Application.Interfaces;
@using StockTrade.Application.Interfaces.API;

@inject IWatchListRepository _watchListRepo;
@inject IWatchListAPIRepository _watchListApi;
@inject IStocksAPIRepository _stockRepo;
@inject IMarketAPIRepository _marketRepo;
@model Gihun_StockTrade_Portpolio.Pages.WatchList.IndexModel

@{
    var dataSource = _watchListRepo.SymbolList();
    var userEmail = Request.Cookies["Email"];
    var userId = _watchListRepo.GetUserIdByEmail( userEmail ); 
    var wishList = _watchListRepo.GetUserWishList( userId );
    var news = _marketRepo.GetMarketNews().Result.data.main.stream;
}

<head>
    <link   href="http://cdn.syncfusion.com/21.1.35/js/web/flat-azure/ej.web.all.min.css" rel="stylesheet" />
    <script src="http://cdn.syncfusion.com/js/assets/external/jquery-1.10.2.min.js"></script>
    <script src="http://cdn.syncfusion.com/21.1.35/js/web/ej.web.all.min.js"></script>
</head>


<div>
    <div class="for-right">
        <!-- 유저가 추가한 관심종목 섹션 -->
        <div style="margin-bottom:2px; font-weight:700;">
            <t6> My Watchlist </t6>
        </div>
        <div class="view ">
            <div class="wrappers">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="sticky-col first-col">Icon</th>
                            <th class="sticky-col second-col">No.</th>
                            <th class="sticky-col third-col">Symbol</th>
                            <th class="sticky-col fourth-col">Company Name</th>
                            <th>Price</th>
                            <th>After Hours</th>
                            <th>Change</th>
                            <th>% Change</th>
                            <th>Open</th>
                            <th>Prev Close</th>
                            <th>High</th>
                            <th>Low</th>
                            <th>Volume</th>
                            <th>Turnover</th>
                            <th>Avg Vol(3M)</th>
                            <th>% Range</th>
                            <th>52 Wk High</th>
                            <th>52 Wk Low</th>
                            <th>Market Cap</th>
                            <th>P/E (TTM)</th>
                            <th>P/Dividend</th>
                            <th>EPS</th>
                            <th>Div Yield</th>
                            <th>% Turnover</th>
                            <th>Exchange</th>
                        </tr>
                    </thead>
                    @foreach (var item in wishList)
                    {
                        <tbody>
                            @{
                                var symbolInfo = _watchListApi.OnPostGetUserWishSymbolInfo(item).Result;
                            }
                            <tr>
                                @if (wishList == null)
                                {
                                    <td> <p> You haven't any wishlist. </p> </td>
                                }
                                else
                                {
                                    <form method="post" asp-page="/WatchList/Index" asp-page-handler="CompanyBrief">
                                        
                                        <td class="sticky-col first-col">opt</td>
                                        <td class="sticky-col second-col">1</td>
                                        <td class="sticky-col third-col">
                                            <input id="symbol-font" type="submit" value="@item.ToString()" name="clickedSymbol" />
                                        </td>
                                        <td class="sticky-col fourth-col"> @symbolInfo.quoteType.longName.ToString() </td>
                                        <td>@symbolInfo.financialData.currentPrice.fmt.ToString()</td>
                                        <td>@symbolInfo.price.postMarketPrice.fmt.ToString()</td>
                                        <td>@symbolInfo.price.postMarketChange.fmt.ToString()</td>
                                        <td>@symbolInfo.price.postMarketChangePercent.fmt.ToString()</td>
                                        <td>@symbolInfo.summaryDetail.open.fmt.ToString()</td>
                                        <td>@symbolInfo.summaryDetail.previousClose.fmt.ToString()</td>
                                        <td>@symbolInfo.summaryDetail.dayHigh.fmt.ToString()</td>
                                        <td>@symbolInfo.summaryDetail.dayLow.fmt.ToString()</td>
                                        <td>@symbolInfo.summaryDetail.regularMarketVolume.fmt</td>
                                        <td>TurnOver</td>
                                        <td>@symbolInfo.price.averageDailyVolume3Month.fmt.ToString()</td>
                                        <td>@symbolInfo.price.regularMarketChangePercent.fmt.ToString()</td>
                                        <td>@symbolInfo.summaryDetail.fiftyTwoWeekHigh.fmt.ToString()</td>
                                        <td>@symbolInfo.summaryDetail.fiftyTwoWeekLow.fmt.ToString()</td>
                                        <td>@symbolInfo.price.marketCap.fmt.ToString()</td>
                                        <td>@symbolInfo.defaultKeyStatistics.forwardEps.fmt.ToString()</td>
                                        <td>P/Dividend</td>
                                        <td>EPS</td>
                                        <td>Div Yield</td>
                                        <td>% Turnover</td>
                                        <td>@symbolInfo.price.exchangeName.ToString()</td>
                                    </form>
                                }
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>

        <!-- 티커 추가 하는 섹션 -->
        <div>
            <form method="post" asp-page="/WatchList/Index" asp-page-handler="AddSymbol">
                <ejs-autocomplete id="symbol" dataSource=@dataSource filter-type="Contains" placeholder="Add Symbol/Ticker" show-popup-button="true" enable-auto-fill="true" watermark-text="Select value">
                    <e-autocomplete-fields id="symbol" Value=Symbol value=Symbol key="Symbol"></e-autocomplete-fields>
                </ejs-autocomplete>
            </form>
        </div>

        <!-- 뉴스 섹션 -->
        <div class="row">
            <div tabindex="0" class="e-card card-section" id="basic">

                <div class="item">
                    <div class="e-card-header">
                        <div class="e-card-header-caption">
                            <div class="e-card-header-title"> Corporate Actions </div>
                        </div>
                    </div>
                    <div class="e-card-content">
                        <p> Please <a asp-page="ApplicationUser/Login" asp-page-handler="Login"> Login </a> first. </p>
                    </div>
                </div>

            </div>

            <div tabindex="0" class="e-card card-section" id="basic">

                <div class="item">
                    <div class="e-card-header">
                        <div class="e-card-header-caption">
                            <div class="e-card-header-title"> News </div>
                        </div>
                    </div>
                    <div class="e-card-content">

                        @foreach(var item in news)
                        {
                            string Url = string.Empty;

                            @if (@item.content.clickThroughUrl == null)
                            {
                                Url = item.content.previewUrl.ToString();
                            }
                            else
                            {
                                Url = item.content.clickThroughUrl.url.ToString();
                            }
                            <p> @item.content.pubDate.ToShortTimeString() </p>

                            <a href="Url" target="_blank">
                                <p> @item.content.title.ToString() </p>
                            </a>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- 오른쪽 사이드 바 -->
    <partial name="_KeyStatistics" model="Model.companyBrief" />

</div>


<style>

    .popup {
        width: 500px;
        padding: 30px;
    }

    input {
        width: 100%;
        padding: 10px 15px;
    }

    .card-section {
        width: 50%;
        height: 350px;
    }

    .e-card .e-card-horizontal .e-card-stacked {
        justify-content: flex-start;
        margin: initial;
    }

    .view {
        /*width: 1650px;*/
        width: 100%;
        margin: auto;
        height: 600px;
    }

    .wrappers {
        position: relative;
        overflow: auto;
        border: 1px solid black;
        white-space: nowrap;
    }

    .sticky-col {
        position: -webkit-sticky;
        position: sticky;
        background-color: white !important;
    }

    .first-col {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
        left: 0px;
    }

    .second-col {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
        left: 100px;
    }

    .third-col {
        width: 200px;
        min-width: 200px;
        max-width: 200px;
        left: 250px;
    }

    .fourth-col {
        width: 250px;
        min-width: 250px;
        max-width: 250px;
        left: 450px;
    }

    .item {
        display: inline-block;
        white-space: normal;
        flex: 1;
        height: 100%;
        width: 100%;
    }

    .fixed-right {
        position: fixed;
        right: 500px;
    }

    .for-right {
        padding-right: 350px;
        margin-left: 10px;
    }

    #wrapper-for-right {
        padding-right: 250px;
    }

    #sidebar-wrapper {
        width: 370px;
    }

    /*#symbol-font {
        background-color: white;
        position: absolute;
        border:none;
        left: 0px;
        top: 102px;
        width: 900px;
        height: 27px;
    }*/

</style>